p {
    color:navy;
    background-color: lightgrey;
    font-size: 150%;
    text-align: center;
}

h2 {
    text-shadow: 2px 2px 10px;
    text-align: center;
}

ol {
    list-style-type: lower-greek;
}

ul {
    list-style-type: square;
}