/* ---------------------------------------------
        COLOR VARIABLES           
--------------------------------------------- */
:root {
    --container-color: rgba(34, 190, 99, 0.5);
}

/* ---------------------------------------------
        BODY        
--------------------------------------------- */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/* ---------------------------------------------
        TOP MENU BAR              
--------------------------------------------- */

.topnav {
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
    position: fixed;  
    z-index: 1;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

.topnav a.active {
    background-color: var(--container-color);
    color:white;
}

/* ---------------------------------------------
        HEADINGS          
--------------------------------------------- */
h2 {
    text-align: center;
    font-size: x-large;
    font-weight: 800;
    padding-top: 5%;
}

h2::after { /*This is the underline*/
    display: block;
    content: " ";
    height: 2px;
    width: 150px;
    background: #000;
    margin: 5px auto 40px;
    box-shadow: 5px 2px 3px rgba(0, 0, 0, 0.5);
}

/* ---------------------------------------------
        HOME          
--------------------------------------------- */

#Home {
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/25c1557b-e3b3-4291-beb8-1ae159f546c3/d3grf1s-c240aa21-aaf8-4cde-9232-10b7a2de3832.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI1YzE1NTdiLWUzYjMtNDI5MS1iZWI4LTFhZTE1OWY1NDZjM1wvZDNncmYxcy1jMjQwYWEyMS1hYWY4LTRjZGUtOTIzMi0xMGI3YTJkZTM4MzIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.gQm7nFt1EOLIQZzJPNKmdHazzDjnenwpzrcorPmg1ng) no-repeat 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 350px;
    padding-bottom: 500px;
    border-bottom: rgba(0, 0, 0, 0.5) solid 10px;
}

.main-header {
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
    font-variant: small-caps;
    background-color: var(--container-color);
    border-radius: 20px;
    color: #fff;
    width: 40%;
    letter-spacing: 5pt;
    word-spacing: 5pt;
    font-size: 1.1em;
    text-align: center;
    line-height: 1;
    font-weight: 600;
    padding: 10px;
    margin: auto;
    box-shadow: 10px 4px 6px rgba(0, 0, 0, 0.5);
}

/* ---------------------------------------------
        GALLERY          
--------------------------------------------- */
.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: auto 20px;
    border-radius: 8px;
    width: 90%;
    flex-basis: auto;
    margin: auto;
    padding-bottom: 100px;
    background-color: var(--container-color);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.photo-container {
    text-align: center;
    margin: 5px auto;
    width: 300px;
    height: 240px;
}

.photo-container p {
    color: #fff;
    font-size: 1.2em;
    font-weight: 800;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
}

.photo {
    position: relative;
    line-height: 0;
    margin-bottom: 1em;
    overflow: hidden;
    border-radius: 8px;
    padding: 4px;
    border: 1px solid #021a40;
    background-color: #fff;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); */
}

.photo-container img {
    max-width: 100%;
    width: 300px;
    height: 240px;
}

.photo-overlay {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
}

.hover-shadow {
    transition: 0.3s;
}
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cursor {
    cursor: pointer;
  }

.column {
    float: left;
    width: 25%;
}
  

/* ---------------------------------------------
        VIDEO          
--------------------------------------------- */

#Video iframe {
    margin: 0px auto 20px;
    display: block;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

/* ---------------------------------------------
        CONTACT US          
--------------------------------------------- */

.flex-container-contact {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: auto 20px;
    border-radius: 8px;
    width: 90%;
    flex-basis: auto;
    margin: auto auto 2%;
    /* padding-bottom: 100px; */
    background-color: var(--container-color);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}


form {
    font-size: 15pxx;
    outline: none;
    font-weight: 600;
    color: #8d8e8f;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid #808080;
    margin: 2% auto;
    border-radius: 7px;
    background: rgb(227, 222, 222);
    box-shadow: 2px 3px 3px 0 px rgba(0, 0, 0, 0.3);
    font-family: 'Raleway', sans-serif;
    display: block;
}

input[type="text"], input[type="email"], input[type="tel"] {
    font-size: 15px;
    outline:none;
    font-weight: 600;
    color: #e4e4e4;
    padding: 2% 1% 2% 7%;
    width: 80%;
    border-top: 1px solid #090b0d;
    border-right: 2px solid #424549;
    border-bottom: 2px solid #424549;
    border-left: 1px solid #090b0d;
    margin: 5px auto;
    border-radius: 7px;
    background: #13161b;
    box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
    font-family: 'Raleway', sans-serif;
    display: block;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(194, 194, 194);
    opacity: 1; /* Firefox */
  }

input[type="text"]:hover {
    box-shadow: 0, 0, 18px rgba(100, 65, 0, 0.8);
}

.submit input[type="submit"] {
    color: rbg(255, 255, 255);
    cursor: pointer;
    border: none;
    font-weight: 900;
    outline: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 10px auto;
    width: 50%;
    font-size: 18px;
    transition: border-color 0.3s color 0,3s background-color 0.3s;
    border-radius: 7px;
    background-color: #797a7b;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
    display: block;
}

.submit input[type="submit"]:hover {
    color: #000;
    background-color: #8d8e8f;
    box-shadow: inset 1px 2px 15px 0 rgba(0, 0, 0, 0.5);
}


/* ---------------------------------------------
        CONTACT US          
--------------------------------------------- */


footer {
    background-color: #333;
    color: #f2f2f2;
    padding: 1px 2% 1px;
    text-align: right;
}



/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    max-width: 1200px;
    max-height: 70%;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

.mySlides img {
    margin-bottom: -4px;
    max-width: 100%;
    height: auto;
}
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }